html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.canvas{
  position: absolute;
  bottom: 0;
  left: 25vw;
/*  width: 900px;
  height: 315px; */
}

.canvas-design{
  z-index: 0
}

.canvas-text{
  z-index: 1;
}

.canvas-highlight{
  z-index: 2;
}


canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}